/.metadata/
/tateti/dist/
/agenda/nbproject/private/
/agendaDeContactos/nbproject/private/
/agendaDeContactos/build/
/inscripciónAtletismo/nbproject/private/
/inscripciónAtletismo/build/
/AplicacionCrud/nbproject/private/
/AplicacionCrud/build/
/cargar JComboBox con BD/nbproject/private/
/cargar JComboBox con BD/build/
/guardarImagenEnBD/nbproject/private/
/Reportes/nbproject/private/
/Reportes/build/
/Excel/nbproject/private/
/Excel/build/
/fizzbuzz/nbproject/private/
/fizzbuzz/build/
/controles/nbproject/private/
/controles/build/